@use '../../grobal/variable' as *;
@use '../../grobal/mixin' as *;

// header
.header {
  width: 100%;
  height: 8rem;
  background: #aaf;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  @include sp {
    height: 6rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }
  &__logo {
    width: 12.97rem;
    @include sp {
      width: 8.57rem;
    }
  }
  &__right {
    display: flex;
    height: 100%;
    align-items: center;
    column-gap: 2rem;
  }
  &__hb-btn {
    width: 4rem;
    height: 2.6rem;
    position: relative;
    span {
      display: block;
      width: 100%;
      height: 0.2rem;
      background: #f66;
      position: absolute;
      left: 0;
      transition: all 0.4s;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 1.2rem;
      }
      &:nth-of-type(3) {
        top: 2.4rem;
      }
    }
  }
  &__hb-btn.active {
    span {
      &:nth-of-type(1) {
        top: 1.2rem;
        transform: rotate(45deg);
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        top: 1.2rem;
        transform: rotate(-45deg);
      }
    }
  }
  &__nav {
    display: flex;
    @include sp {
      display: block;
      width: 100%;
      height: calc(100% - 6rem);
      background: rgba(255, 102, 102, 0.9);
      position: fixed;
      top: 6rem;
      left: 120%;
      padding: 5rem 3rem;
      transition: all 1s;
    }
    li {
      @include sp {
        &:first-of-type {
          border-top: 0.1rem solid #fff;
        }
      }
      a {
        padding: 2rem;
        font-weight: 700;
        transition: all 0.4s;
        position: relative;
        @include sp {
          padding: 0;
          width: 100%;
          height: 5rem;
          /* background: #fff; */
          display: flex;
          align-items: center;
          padding: 0 1rem;
          border-bottom: 0.1rem solid #fff;
          font-size: 1.6rem;
          color: #fff;
        }
        &::before {
          content: "";
          width: calc(100% - 2rem);
          height: 0.4rem;
          background: #333;
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          border-radius: 0.2rem;
          transform: scaleX(0);
          transition: all 0.4s;
          transform-origin: left center;
        }
        &:hover {
          &::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }
  &__nav.active {
    left: 0;
  }
  &__contact {
    width: 12rem;
    height: 100%;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    transition: all 0.4s;
    &:hover {
      background: #f66;
    }
  }
}